//-------------------------------------------------------
//- Modules :: Datetimepicker
//-------------------------------------------------------

mixin datetimepicker({ type, readonly, id, size })
  .input-group
    input.form__control.datetimepicker(
        type= type ? type : 'text'
        value= value ? value : null
        readonly= (readonly===true) ? true : false
        size= size ? size : null
        id= id ? id : null
      )&attributes(attributes)
