//-------------------------------------------------------
//- Styleguides :: Buttons
//-------------------------------------------------------

- 
  var listType = [
    {type: 'secondary', text: 'Secondary'},
    {type: 'primary', text: 'Primary'},
    {type: 'danger', text: 'Danger'},
    {type: 'warning', text: 'Warning'},
    {type: 'success', text: 'Success'},
  ]

-
  var listSizes = ['xs', 'sm', 'md', 'lg', 'xl']

- 
  var listButtonsIcons = [
    {text: 'Secondary', type: 'secondary', icon: 'zmdi zmdi-globe'}, 
    {text: 'Primary', type: 'primary', icon: 'zmdi zmdi-cloud-done'},
    {text: 'Danger', type: 'danger', icon: 'zmdi zmdi-alert-circle'},
    {text: 'Warning', type: 'warning', icon: 'zmdi zmdi-alert-triangle'},
    {text: 'Success', type: 'success', icon: 'zmdi zmdi-check'}
  ]

//- Basic button
h2.demo__title Basic Button
each item in listType
  .row
    each val, index in listSizes
        .col-6.col-sm-6.col-md-4
          .code-example
            .demo.text-center
              +buttons({
                type: item.type,
                text: item.text,
                size: val
              })
            pre
              code
                |+buttons({
                |  type: '#{item.type}',
                |  text: '#{item.text}',
                |  size: '#{val}'
                |})

//- Button with Icon
h2.demo__title Button with Icon
each item in listButtonsIcons
  .row
    each val, index in listSizes
        .col-6.col-sm-6.col-md-4
          .code-example
            .demo.text-center
              +buttons({
                type: item.type,
                text: item.text,
                size: val,
                iconBefore: item.icon
              })
            pre
              code
                |+buttons({
                |  type: '#{item.type}',
                |  text: '#{item.text}',
                |  size: '#{val}',
                |  iconBefore: '#{item.icon}'
                |})
                
//- Button Rounded
h2.demo__title Buttons Rounded Standard
each item in listButtonsIcons
  .row
    each val in listSizes
      .col-6.col-sm-6.col-md-4
        .code-example
          .demo.text-center
            +buttons({
              type: item.type,
              text: item.text,
              size: val,
              rounded: true
            })
          pre
            code
              |+buttons({
              |  type: '#{item.type}',
              |  text: '#{item.text}',
              |  size: '#{val}',
              |  rounded: true
              |})
              
//- Buttons Rounded with Icon
h2.demo__title Buttons Rounded with Icon
each item in listButtonsIcons
  .row
    each val in listSizes
      .col-6.col-sm-6.col-md-4
        .code-example
          .demo.text-center
            +buttons({
              type: item.type,
              text: item.text,
              size: val,
              iconBefore: item.icon, 
              rounded: true
            })
          pre
            code
              |+buttons({
              |  type: '#{item.type}',
              |  text: '#{item.text}',
              |  size: '#{val}',
              |  iconBefore: '#{item.icon}', 
              |  rounded: true
              |})
