extends modules/layout/_page-other
                            
block head
  +head('Styleguides')
  style.
    body {
      background-color: #fff;
    }
    .code-example {
      margin-bottom: 25px;
    } 
    .code-example .demo {
      box-sizing: border-box; 
      padding: 1.5rem;
      position: relative;
      border: 1px solid rgba(0, 0, 0, 0.125);
      border-radius: 0.25rem 0.25rem 0 0;
    }
    .code-example pre {
      margin: 0;  
      background-color: rgba(0, 0, 0, 0.125);
      padding: 15px;
      border-radius: 0 0 0.25rem 0.25rem;
    }

    .demo__title {
      margin-bottom: 20px;
      font-weight: 400;
    }

    .list-group {
      position: sticky;
      top: 0;
      max-height: 90vh;
      overflow-y: auto;
    }

    @media (max-width: 576px) {
      .list-group {
        position: relative;
        margin-bottom: 24px;
        max-height: auto;
      }
    }


block main

  -
    var components = [
      {
        id: 'colors',
        title: 'Colors'
      },{
        id: 'button',
        title: 'Buttons'
      },{
        id: 'input',
        title: 'Inputs'
      },{
        id: 'checkbox',
        title: 'Checkboxes'
      },{
        id: 'radio',
        title: 'Radios'
      },{
        id: 'switch',
        title: 'Switches'
      },{
        id: 'date',
        title: 'DatetimePicker'
      }
    ];

  .container-fluid
    .row.justify-content-between.align-items-center.pt-4.pb-4
      .col-auto.mr-auto
        h2 { Beagle } Style Guides
      .col-auto
        a.btn.btn-success(href="links.html") Back to list of page
    .row
      .col-12.col-sm-3.col-md-3.col-lg-2.col-xl-2
        #v-pills-tab.list-group(
          role="tablist"
          aria-orientation="vertical"
        )
          each val, index in components
            - var findFirstItem = index === 0
            a(
              data-toggle="pill"
              role="tab"
              aria-selected="true"
              id=`v-pills-${val.id}-tab`
              href=`#v-pills-${val.id}`
              aria-controls=`v-pills-${val.id}`
              class=findFirstItem ? 'list-group-item active' : 'list-group-item'
            )= val.title
      .col-12.col-sm-9.col-md-9.col-lg-10.col-xl-10
        #v-pills-tabContent.tab-content
          each val, index in components
            - var findFirstItem = index === 0
            div(
              role="tabpanel"
              id=`v-pills-${val.id}`
              aria-labelledby=`v-pills-${val.id}-tab`
              class=findFirstItem ? 'tab-pane fade show active' : 'tab-pane fade'
            )
              case val.id
                when 'colors'
                  include styleguides/_colors
                when 'button'
                  include styleguides/_button
                when 'input'
                  include styleguides/_input
                when 'checkbox'
                  include styleguides/_checkbox
                when 'switch'
                  include styleguides/_switch
                when 'radio'
                  include styleguides/_radio
                when 'date'
                  include styleguides/_datetimepicker
                default
                  - throw new Error('"val.id" must be in "components" variable')
